.numberWord {
    font-size: large;
    font-weight: 500;
    font-style: italic;
    font-variant: small-caps;

}

.hints {
    font-style: italic;
    font-size: 12px;
    font-weight: 1000;
    font-family: Helvetica;
    letter-spacing: .1em;
}

.titles {
    background: black;
    color: white;
}

.story {
    background:black;
    color: tan;
}

.thestory {
    background:black;
    color: wheat;
}

.theEnd {
    color:#cccccc;
}

.hide {
    visibility: hidden;
}

.remove {
    display: none;
}

body {
    background-image: linear-gradient(white,black);
}